.todos-container{
    padding: 10px;
    height: calc(100vh-76px);
    display: flex;
    gap:10px;
    .list-container{
        width: 25%;
    }
    .todo-container{
        width:75%
    }
    .button-new-todo{
        position: fixed;
        bottom: 30px;
        right:30px
    }
}
.todo-container{
    ::ng-deep{
        mat-card{
            height: 30vh;
        }
    }
}